---
import Card from "./Card.astro";
import CardContent from "./CardContent.astro";
import Link from "../link/Link.astro";

interface Props {
  title: string;
  excerpt: string;
  date: string;
  href: string;
}

const { title, excerpt, date, href } = Astro.props;
---

<Card as="article">
  <CardContent>
    <Link href={href} variant="card">
      <h3 class="text-xl font-semibold">{title}</h3>
      <p class="text-sm text-text-muted">{date}</p>
      <p class="text-base text-text">{excerpt}</p>
    </Link>
  </CardContent>
</Card>
